.grid-modal {
    text-align: center;
}


.reset-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reset-btn {
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
    background-color: rgba(179, 232, 255);
    border: 1px solid rgb(142, 184, 202);
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #000000;
    text-transform: uppercase;
}
  
.reset-btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(179, 232, 255, 0.4);
}
  
.reset-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(179, 232, 255, 0.4),
      transparent
    );
    transition: all 650ms;
}
  
.reset-btn:hover:before {
    left: 100%;
}