body {
  margin: 0;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}

html {
  /* Created with https://www.css-gradient.com */
  background: #B3E8FF;
  background: linear-gradient(to bottom, #B3E8FF, #FFFFFF);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.App {
  display: inline-block;
}